/* Styling variables including colour scheme */

:root {
    --line-height: 2em;
    --white: #fdf2f2;
    --grey: #a8a4a464;
    --black: #100f0f;
    --d-blue: #3f5673;
    --d-blue-opaque: #3f567396;
    --l-blue: #2b7f78;
    --green: #45703e;
    --orange: #bc5201;
    --red: #c52f36;
}

/* Base Template and sitewide styling */

h1,
h2,
h3,
.btn,
.explore-category,
.profile-name {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    letter-spacing: 4px;
}

h2,
h3,
.btn {
    letter-spacing: 2px;
}

.profile-name {
    letter-spacing: 1px;
}

body {
    font-weight: 200;
    color: var(--black);
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
    font-weight: 500;
    letter-spacing: 3px;
}

.nav-link:hover {
    text-decoration: underline;
}

.account-nav-link {
    color: var(--black);
    text-decoration: underline;
}

.btn-primary {
    color: var(--white);
    font-weight: 300;
    background-color: var(--d-blue);
    border: none;
}

.btn-danger {
    border: none;
}

.crud-button:hover {
    color: var(--l-blue);
}

.btn-primary:hover {
    background-color: var(--d-blue-opaque);
}

.btn-danger:hover {
    color: var(--black)
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
}

.btn-primary {
    color: white;
}

.send-btn {
    color: var(--d-blue);
}

.send-btn:hover {
    color: var(--d-blue-opaque);
}

/* Landing Page styling */

.index-banner {
    height: 20rem;
}

.index-button-bank a {
    padding: 40px;
}

.index-post-design {
    background-image: url("https://source.boringavatars.com/bauhaus/400?colors=3f5673,2b7f78,45703e,bc5201,c52f36");
}

.landing-card {
    background-color: transparent;
    border: none;
}

.index-card-body {
    background-color: rgba(255, 255, 255, 0.7);
}

.info-card p {
    padding: 0;
}

/* Post Preview Cards */

.Music-post {
    color: var(--l-blue);
}

.Tv-post {
    color: var(--green);
}

.Test-post {
    color: var(--d-blue);
}

.Films-post {
    color: var(--orange);
}

.Books-post {
    color: var(--red);
}

/* Explore Buttons */

.index-button-bank {
    display: flex;
}

.Music-post-explore {
    background-color: var(--l-blue);
}

.Tv-post-explore {
    background-color: var(--green);
}

.Test-post-explore {
    background-color: var(--d-blue);
}

.Films-post-explore {
    background-color: var(--orange);
}

.Books-post-explore {
    background-color: var(--red);
}

/* Index Looping rolodex effect.
Sourced and modified to suit site from Codepen user Adam Orchard
https://codepen.io/orchard/pen/LoNdQZ?page=1 */

.rolodex {
    height: var(--line-height);
    overflow: hidden;
}

.rolodex ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    height: var(--line-height);
    list-style: none;
}

.rolodex p,
.rolodex ul,
.rolodex li {
    line-height: var(--line-height);
}

.roll {
    animation: 10s infinite alternate roll-up-one;
    padding-left: 0;
    font-family: 'Bebas Neue', sans-serif;
}

@keyframes roll-up-one {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-300%);
    }
}

/* Explore page styling */

.explore-details {
    font-size: .9rem;
}

/* Explore Filter Form */

form li {
    list-style: none;
}

li label {
    margin: 0 20px 0 0;
}

li div {
    display: inline-block;
}

#id_category {
    margin: 10px 0 10px 0;
}

#id_date_order {
    margin: 10px 0 10px 0;
}

/* Post Detail Info */

.post-profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-image: url("https://source.boringavatars.com/bauhaus/60?colors=66B6AF,EDDA68,D78649,EC6369,6381a674");
}

.profile-name {
    color: var(--white);
    margin-bottom: 0;
}

.post-details {
    display: inline-block;
}

/* Form Customisation */

.asteriskField {
    display: none;
}

.new-post-form-container {
    background-color: transparent;
    border-radius: 10px;
}

.account-form-input {
    display: block;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
}

.new-post-form-inputs,
.comment-form-input,
.account-form-input {
    background-color: var(--white);
    border-radius: 5px;
    border-bottom: 5px solid var(--d-blue);
    margin: 10px auto 10px auto;
    color: var(--black);
}

@media only screen and (max-width:767px) {
    .explore-date {
        display: none!important;
    }    
}
