/* Base Template and sitewide styling */

body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    background-color: #bebcc2
}

.logo {
    font-weight: 700;
}

.navbar-nav {
    font-weight: 500;
    letter-spacing: 3px;
}

.btn-primary {
    color: #000000;
    font-weight: 300;
    background-color: #6596cd;
    border: none;
}

.btn-danger {
    border: none;
}

.btn-primary:hover {
    background-color: #4a89d1;
}

.btn-danger:hover {
    color: #000000;
}

/* Post Preview Cards */
.card-body {
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #6596cd;
}
