{% extends 'base.html' %}
{% block content %}

<!-- Asking User to confirm that they want to delete post passed into template -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4 text-center">
      <h3>Delete Post</h3>
      <p>Are you sure you want to delete this post? This Action cannot be undone.</p>
      <hr>
      <p>{{ post.title }} | {{ post.created_at }}</p>
      <hr>
      <form action="#" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-danger">
        <a href="{% url 'edit' post.slug %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </div>

</div>

{% endblock content %}