{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
{% load crispy_forms_tags %}

<div class="row justify-content-center">
  <div class="col-10">
      <h2>Edit Post</h2>
      <form method="post">
        {{ edit_post_form | crispy }}
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">Update</button>
            <a href="{% url 'delete' post.slug %}" class="btn btn-danger">Delete</a>
    </form>
  </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-4 text-center">
        <p>Please <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a> to edit posts</p> 
      </div>
    </div>
  </div>
{% endif %}
{% endblock content %}