{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
{% load crispy_forms_tags %}
<form method="post">
    {{ edit_post_form | crispy }}
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">Update</button>
</form>
{% else %}
<p>Please <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a> to post</p>
{% endif %}
{% endblock content %}