{% extends "base.html" %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 text-center">
            <h3>Filter</h3>
            <hr>
            <h4>Category:</h4>
            <p>Music</p>
            <p>Films</p>
            <p>Tv</p>
            <p>Books</p>
            <p>All</p>
            <hr>
            <h4>Date:</h4>
            <p>Oldest First</p>
            <p>Newest First</p>
            <hr>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12 mt-3 left">
                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-md-6">
                            <div class="card mb-6">
                                <div class="card-body">
                                    <a href="{% url 'post_detail' post.slug %}">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                    </a>
                                    <p class="card-text">{{ post.author }}</p>
                                    <p class="card-text">{{ post.category }}</p>
                                    <p class="card-text">{{ post.created_at }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}