{% extends "base.html" %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-s-6 col-md-2">
            <a class="btn btn-primary d-md-none" data-bs-toggle="collapse" href="#filter-form-collapse" role="button" aria-expanded="false" aria-controls="filter-form-collapse">Filter</a>
            <div class="filter-form-container collapse d-md-block" id="filter-form-collapse">
                <form method='GET' action="{% url 'explore' %}">
                    {{ form.as_p }}
                    <input type="submit" value="Apply" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div class="row">
                <div class="col-12 mt-3 left">
                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-md-6 ">
                            <div class="card mb-6">
                                <div class="card-body">
                                    <a class="nav-link" href="{% url 'post_detail' post.slug %}">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                    </a>
                                    <p class="card-text">{{ post.author }}</p>
                                    <p class="card-text">{{ post.category }}</p>
                                    <p class="card-text">{{ post.created_at }} | {{ post.comments.count }} <i class="fa-regular fa-comment"></i> | {{ post.number_of_likes }} <i class="fa-solid fa-thumbs-up"></i></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}