{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <!-- Index page banner (Top section of page) -->
    <div class="row px-1 my-3 mt-4 text-center index-banner">

        <!-- Animated list showing category types -->
        <div class="col-xs-12 col-md-6 col-lg-8 my-auto">
            <h2 class="fw-lighter">Personalised Recommendations for Lovers of</h2>
            <div class="fs-1 fw-bolder rolodex text-center">
                <ul class="roll fs-1">
                    <li class="Music-post">Music</li>
                    <li class="Films-post">Films</li>
                    <li class="Tv-post">Tv</li>
                    <li class="Books-post">Books</li>
                </ul>
            </div>
        </div>

        <!-- Link to login, register or create new post if logged in -->
        <div class="col-xs-12 col-md-6 col-lg-4 my-auto">
            <div class="info-card">
                <p>Have a favourite album, show, film or book?</p>
                <p>Share it and let others recommend your next favourite!</p>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'new_post' %}">New Post</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Category link buttons using flex-column & flex-md-row for responsiveness -->
    <div class="row">
        <div class="container-fluid px-4 my-3 index-buttons">
            <div class="col-12">
                <h3 class=" text-center fw-lighter my-3">Explore Posts</h3>
                <div class="d-flex flex-column flex-lg-row justify-content-evenly index-button-bank">
                    <a class="btn btn-primary mt-4" href="{% url 'explore' %}">All</a>
                    <a class="btn btn-primary Music-post-explore mt-4"
                        href="{% url 'explore' %}?category={{ 'Music' }}">Music</a>
                    <a class="btn btn-primary Tv-post-explore mt-4" href="{% url 'explore' %}?category={{ 'Tv' }}">Tv
                    </a>
                    <a class="btn btn-primary Films-post-explore mt-4"
                        href="{% url 'explore' %}?category={{ 'Films' }}">Film</a>
                    <a class="btn btn-primary Books-post-explore mt-4"
                        href="{% url 'explore' %}?category={{ 'Books' }}">Books</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Latest post list, displaying 3 most recent posts -->
        <div class="container-fluid my-1 latest-post-section">
            <div class="col-12 mt-3">
                <div class="row">
                    <h3 class="text-center fw-lighter">Latest Posts</h3>
                    {% for post in post_list %}
                    <div class="col-md-4 my-5">
                        <div class="card landing-card mb-4 py-2 h-100 index-post-design">
                            <div class="card-body index-card-body px-2 py-2">
                                <a class="nav-link" href="{% url 'post_detail' post.slug %}">
                                    <h3 class="card-title fw-light">{{ post.title }}</h2>
                                </a>
                                <p class="card-text">{{ post.author }}</p>
                                <p class="card-text d-inline">{{ post.created_at.date|date:"d/m/Y" }}</p>
                                <p class="card-text d-inline float-end">{{ post.comments.count }} <i
                                        class="bi bi-chat-left"></i> {{ post.number_of_likes }}<i
                                        class="bi bi-hand-thumbs-up"></i></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}