{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 text-center">
            <h2>Sidebar</h2>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-10">

                    <h1>{{ post.title }}</h1>
                    <p>{{ post.author }} | {{ post.created_at }}</p>
                    {% if post.author == request.user %}
                        <a href="{% url 'edit' post.slug %}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    {% endif %}
                    <p></p>
                    <hr>
                    <p>{{ post.body_text | safe }}</p>
                    <h2>Comments:</h2>
                    {% for comment in comments %}
                    <hr>
                    <p>{{ comment.author }} on {{ comment.created_at }}</p>
                    <p>{{ comment.body_text }}</p>
                    {% endfor %}
                    {% if commented %}
                    <div class="alert alert-success">Your Comment is awaiting approval</div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h3>Add a comment:</h3>
                    <form method="post">
                    {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}