{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-10 col-md-8">
                    <h2>{{ post.title }}</h2>
                    <p class="d-inline">{{ post.category }}</p>
                    <hr>
                    <div class="post-details w-100">
                        <div class="d-inline float-start">
                            <div class="post-profile-img text-center">
                                <p class="fw-bolder">{{ post.author }}</p>
                            </div>
                        </div>

                        <p class="d-inline float-end">
                            {% if post.edited %}
                            <i class="bi bi-pencil"></i>
                            {% endif %}
                            {{ post.created_at.date|date:"d/m/Y" }}
                        </p>
                    </div>
                
                    <p class="font-weight-bold mt-5 mb-5 lead">{{ post.body_text | safe }}</p>


                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="post">
                        {% csrf_token %}

                        {% if post_liked %}

                        <button type="submit" name="post_id" value="{{ post.slug }}" class="btn btn-primary">
                            {{ post.number_of_likes }} <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>

                        {% else %}

                        <button type="submit" name="post_id" value="{{ post.slug }}" class="btn btn-primary">
                            {{ post.number_of_likes }} <i class="bi bi-hand-thumbs-up"></i>
                        </button>

                        {% endif %}  
                    </form>
                    {% if post.author == request.user %}
                        <form class="d-inline" action="{% url 'edit' post.slug %}">
                            <button type="submit" class="btn btn-primary" value="Edit Post"><i class="bi bi-pencil-square"></i></button>
                        </form>
                        {% endif %}
                    {% endif %}
                    <hr>

                    <div class="mt-2">
                        {% for comment in comments %}
                            <div class="mt-2 mb-2">
                                <p class="d-inline">{{ comment.author }}</p>
                                <p class="d-inline float-end">{{ comment.created_at.date|date:"d/m/Y" }}</p><br>
                                <p class="d-inline fw-bolder">{{ comment.body_text }}</p>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'comment_like' post.slug comment.id %}" method="post" class="d-inline float-end">
                                        {% csrf_token %}
                                            <button class="btn" type="submit" name="comment_id" value="{{ post.slug }}">
                                                {{ comment.number_of_likes }} <i class="bi bi-hand-thumbs-up"></i>
                                            </button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if commented %}
                        <div class="alert alert-success">Your Comment is awaiting approval</div>
                        {% else %}
                        {% if user.is_authenticated %}
                        <form class="mt-5" method="post">
                        {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button class="btn btn-primary mt-2" type="submit">Submit</button>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}