{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center mt-5">
                <div class="col-6">
                    <h2>{{ post.title }}</h2>
                    <p class="d-inline">{{ post.category }}</p>
                    <p class="d-inline float-end">{{ post.comments.count }} <i class="fa-regular fa-comment"> </i> {{ post.number_of_likes }} <i class="fa-solid fa-thumbs-up"></i></p>
                    <hr>
                    <div class="post-details w-100">
                        <p class="d-inline">{{ post.author }}</p>
                        <p class="d-inline float-end">
                            {% if post.edited %}
                            <i class="fa-regular fa-user-pen"> </i>
                            {% endif %}
                            {{ post.created_at }}
                        </p>
                        </p>
                    </div>
                
                    <p class="font-weight-bold mt-5 mb-5 lead">{{ post.body_text | safe }}</p>


                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}

                        {% if liked %}

                        <button type="submit" name="post_id" value="{{ post.slug }}" class="btn btn-primary">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </button>

                        {% else %}

                        <button type="submit" name="post_id" value="{{ post.slug }}" class="btn btn-primary">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </button>

                        {% endif %}
                        {% if post.author == request.user %}
                        <form action="{% url 'edit' post.slug %}">
                            <button type="submit" class="btn btn-primary" value="Edit Post">Edit</button>
                        </form>
                    {% endif %}
                    </form>
                    {% endif %}
                    <hr>
                    <div class="mt-5">
                    {% for comment in comments %}
                    <p>{{ comment.author }} on {{ comment.created_at }}</p>
                    <p><em>{{ comment.body_text }}</em></p>
                    {% endfor %}
                    {% if commented %}
                    <div class="alert alert-success">Your Comment is awaiting approval</div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <form method="post">
                    {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}